body {
    font-family: Arial, sans-serif;
    color: #333;
    line-height: 1.5;
    background-color: #f4f4f4;
}

header {
    text-align: center;
    color: #8b0000;
}

header p {
    font-size:large;
    font-style: italic;
}
section {
    display:flex;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    max-width: 900px;
}
section div {
    padding: 20px;
    width: 50%;
}

#profile-img {
    width: 200px;
    height: 220px;
    margin-bottom: 20px;
}

h2 {
    color: #8b0000;
    margin-top: 20px;
    margin-bottom: 10px;
}

p i {
    color: #8b0000;
    margin-right: 8px;
}

p {
    margin: 5px 0;
}